body {
	background-color: #edefed;
	font-family: Helvetica;
	font-weight: 200;
}

h2 {
	font-size: 10vh !important;
	font-weight: 100 !important;
}

p {
	font-size: 4vh;
	text-align: left;
}

nav {
	/*background:url(http://wes.io/iEgP/wow-so-deep.jpg)center center / cover no-repeat fixed padding-box border-box rgba(0, 0, 0, 0);*/
	box-shadow: 0 0 0 rgba(0,0,0,0) !important;
	position: fixed;
	z-index: 999;
}

nav ul a.nav-links {
	font-size: 1.4rem;
}

.overview {
	margin-bottom: 1rem;
	padding-top: 4rem;
	text-align: left;
	padding-left: 15%;
	padding-right: 15%;	
	padding-bottom: 6rem
	/*position: relative;*/
}


h1.header-title {
	margin: 0 0 0;
	width: 100%;
	font-weight: 100;
}

.hd-ovrly {
	background: rgba(0,0,0,0.20);
	height: inherit;
	align-items: inherit;
	display: flex;
}

.header-panel {
	background:url(../pictures/emeraldLake.jpg)no-repeat center center fixed;
	background-size: cover;
	height: 550px;
	display: flex;
  align-items: center;
}

.header-title {
	text-align: center;
	color:white;
  font-size: 7vw;
  text-shadow: 3px 4px 0 rgba(0,0,0,0.35);
  justify-content: center;
}

nav .brand-logo {
	text-align: center;
	padding-left: 20px !important;
	cursor: pointer;
	transition: background-color 0.3s;
}

nav .brand-logo.active {
	transition: 0.3s;
	background-color: rgba(0,0,0,0.10);
}

main {
	flex-grow: 1;
	flex-basis: auto;
}

main .banner {
	display: flex;
/*	align-items: center; */
	color:white;
  text-shadow: 3px 4px 0 rgba(0,0,0,0.35);
  flex-direction: column;
  flex: 1;
/*  justify-content: center;*/
}

main .panel1 {
	background: url(../pictures/landscape1.jpg) no-repeat fixed;
	height: 600px;
	background-size: cover;
}

main .overlaid {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.10);
}

main .overlaid:hover {
	cursor: pointer;
	background: rgba(0,0,0,0.50);
}


main .panel2 {
	background: url(../pictures/lights.jpg) no-repeat fixed;
	height: 600px;
	background-size: cover;
}

main .panel3 {
	background: url(../pictures/contact.jpg) no-repeat fixed;
	height: 600px;
	background-size: cover;
	flex: 1;
	flex-direction: column;
}

.services {
	width:100%;
	text-align: center;
	color:white;
  font-size: 7vw;
  font-weight: 100;
  text-shadow: 3px 4px 0 rgba(0,0,0,0.35);
  /*position: relative;*/
}

.center {
	text-align: center;
}

.container .row.imgs-div {
	margin-left: 0;
	margin-right: 0;
	margin-top: 5rem;
	position: relative;
}

.sec-nav-color {
	background-color: #303c40; 
}

.serv-row {
	height: 4rem;
	display: flex;
	flex-direction: row;
	text-align: center;
	position: relative;
	transition: all .5s;
}

body.serv-row-fixed .serv-row {
	transition: all .7s;
	position: fixed;
	height: 4rem;
	background-color: #303c40;
	color: white;
	z-index: 8;
	width: 100%;
	top: 64px;
	border-top: solid 1px black;
	box-shadow:0 5px 20px rgba(0,0,0,0.3);
}

span.top {
	max-width: 0;
	overflow: hidden;
	background-color: white;
	white-space: nowrap;
	font-size: 1.4rem;
	color: black;
	transition: all 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	cursor: pointer
}

body.serv-row-fixed span.top {
	max-width: 300px;
}

.work {
	display: flex;
	flex: 1;
	font-size: 1.4rem;
	border-right: solid 1px black;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.carousel-cntrl {
	border: none;
	margin: 0;
	padding: 0;
	position: absolute;
}

.carousel-cntrl.cntrl-left {
	background-color: #edefed;
	height: 55%;
	width: 5rem;
}

.carousel-cntrl.cntrl-right {
	background-color: #edefed;
	height: 55%;
	right: 16%;
	width: 5rem;
}

.slides-wrapper {
	max-width: 70%;
	margin-left: 9.3rem;
	margin-right: 6.3rem;
	position: relative;
	overflow: hidden;
	display: -webkit-box;
}

.slides {
	list-style-type: none;
	width: 100%;
	-webkit-box-ordinal-group: 2;

}

.activated{
	-webkit-box-ordinal-group: 1;
}

.sprinkDiv {
	align-items: center;
	padding-top: 6rem;
	padding-bottom: 6rem;
}

#sprinklerDscrpt {
	padding-left: 15%;
	padding-right: 15%;	
}

.fenceDiv {
	align-items: center;
	padding-top: 6rem;
	padding-bottom: 6rem;
}

#fenceDscrpt {
	padding-left: 15%;
	padding-right: 15%;	
}

.ft-bkgrd {
	display: flex;
	height: 35vh;
	background-color: #303c40; 
	color: white;
	flex-direction: column;
	align-items: center;
}

div.cp-cby p{
	font-size: .70em;
}



