body {
	background-color: #edefed;
	font-family: sans-serif;
}
nav {
	/*background:url(http://wes.io/iEgP/wow-so-deep.jpg)center center / cover no-repeat fixed padding-box border-box rgba(0, 0, 0, 0);*/
	box-shadow: 0 0 0 rgba(0,0,0,0) !important;
	position: fixed;
	z-index: 999;
}

nav ul a.nav-links {
	font-size: 1.4rem;
}

.overview {
	padding-top: 4rem;
	text-align: center;
}


h1.header-title {
	margin: 0 0 0;
	width: 100%;
}

.header-panel {
	background:url(../pictures/emeraldLake.jpg)no-repeat center center fixed;
	background-size: cover;
	height: 550px;
	display: flex;
  align-items: center;
}

.header-title {
	text-align: center;
	color:white;
  font-size: 7vw;
  text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
  justify-content: center;
}

nav .brand-logo {
	text-align: center;
	padding-left: 20px !important;
	cursor: pointer;
	transition: background-color 0.3s;
}

nav .brand-logo.active {
	transition: 0.3s;
	background-color: rgba(0,0,0,0.10);
}

main {
	flex-grow: 1;
	flex-basis: auto;
}

main .banner {
	display: flex;
/*	align-items: center; */
	height: 500px;
	color:white;
/*  font-size: 7vw;*/
  text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
  flex-direction: column;
  flex: 1;
/*  justify-content: center;*/
}

main .panel1 {
	background: url(../pictures/landscape1.jpg) no-repeat fixed;
	height: 550px;
	background-size: cover;
	cursor: pointer;
}

main .overlaid {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

main .overlaid:hover {
	background: rgba(0,0,0,0.50);
	cursor: pointer;
}


main .panel2 {
	background: url(../pictures/lights.jpg) no-repeat fixed;
	height: 550px;
	background-size: cover;
}

main .panel3 {
	background: url(../pictures/contact.jpg) no-repeat fixed;
	height: 550px;
	background-size: cover;
	flex: 1;
	flex-direction: column;
}

.services {
	width:100%;
	text-align: center;
	color:white;
  font-size: 7vw;
  text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
  position: relative;
}

.center {
	text-align: center;
}

.container .row.img-div {
	max-width: 950px;
	padding-left: 1.5rem;
	margin-left: 0;
	margin-right: 0;
}

.ft-bkgrd {
	display: flex;
	height: 35vh;
	background-color: #36454f; 
	color: white;
	flex-direction: column;
	align-items: center;
}

.cp-cby {
	font-size: .70em;
}



